#blah {
    width: 360px;
    border: 2px solid black;
    border-bottom: 0;
    opacity: 0;
}

.preview {
    width: 360px;
    height: 50px;
    border: 2px solid black;
    opacity: 0;
}

#blah, #cs {
    user-drag: none;
    user-select: none;
}

#cs {
    display: none;
}

.colors > div {
    margin: 10px 0;
    padding: 0;
}

.addnew {
    cursor: pointer;
}

.colors > input, .colors > div, .colors > span {
    margin-left: 0;
    margin-right: 10px;
}
