{% load index %}
{% load static %}

<style>
    #blah, #cs{
        cursor: url("{% static 'colorfield/img/pick.png'%}") 0 32, auto;
    }
</style>
<link rel="stylesheet" href="{% static 'colorfield/css/style.css' %}">

<span class="addnew">Dodaj kolor <img src="{% static 'colorfield/img/add.png' %}" alt=""></span>
<hr>

<form id="form1" runat="server">
    <input type='file' id="imgInp"/>
    <div class="color-square thumbnail">
        <img alt="" src="" id="blah"/>
        <div class="preview"></div>
    </div>

    <canvas id="cs"></canvas>
</form>

<input type="hidden" name="filename" value="{{ filename }}">
{% if path_to_generated_image %}
    <img src="{{ path_to_generated_image }}?{{ random }}" alt="" class="generated_image_preview">
{% endif %}

<div class="colors">

    {% for row in rows %}
        <div style="padding-bottom:10px; display: block" class="color_div_{{ row }}">
            <input type="text" name="name_{{ row }}" value="{% if value %}{{ value|index:row|index:2 }}{% endif %}">
            <input type="text" name="color_{{ row }}" value="{% if value %}{{ value|index:row|index:0 }}{% endif %}"
                   id="id_color"
                   class="colorfield_field" required/>
            <input type="radio" class="color-radio" name="color-radio" data-row="{{ row }}">

            <input type="number" min='1' max='100' name="percent_{{ row }}"
                   value="{% if value %}{{ value|index:row|index:1 }}{% endif %}" id="id_percent"
                   placeholder="Value in %..." required/>
            <span class="delete_button" data-row="{{ row }}"><img src="{% static 'colorfield/img/remove.png' %} " alt=""></span>
        </div>
    {% endfor %}
</div>